<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1 class="title">{{title}}</h1>
        <h2 class="err-message-404">{{errorMessage}}</h2>
    </div>
    {{>footer}}
</body>

</html>