<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Weather App</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    {{>header}}
    
    <div class="container">
        <h1>API examples</h1>
        <h2>Weather_now: </h2>
        <h3>name_of_the_site/api/weather?address=benatky+nad+jizerou</h3>
        <h2>Weather_history: </h2>
        <h3>name_of_the_site/api/weather/history?address=benatky+nad+jizerou&&date=2024-05-18</h3>
    </div>

    {{>footer}}
</body>

</html>