<header>
    <nav class="nav-main">
        <a class="nav-link" href="/">Home</a>
        <div class="nav-right-container">
            <a class="nav-link nav-right" href="/login">Login</a>
            <a class="nav-link nav-right" href="/signup">Signup</a>
        </div>

    </nav>

</header>